body
{
    background-color: #edeff2;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.heading
{
    font-family: helvetica;
    margin-top: 250px;
    text-align: center;
    color: #797d7a;
}

table
{
    empty-cells: hide;
    background-color: #edeff2;
    border-radius: 25px;
    padding: 5px;
    margin: auto;
    margin-top: 30px;
    border-spacing: 15px 15px;

    box-shadow:
    4px 4px 6px 0 rgba(0, 0, 0, 0.2),
    -4px -4px 6px 0 rgba(255, 255, 255, 0.8);
}

.row
{
    height: 50px;
    border-radius: 25px;
}

td
{
    background-color: #edeff2;
    border-radius: 25px;
    width: 80px;
    text-align: center;
    color: #797d7a;
    font-size: 22pt;
    font-family: tahoma;
    box-shadow:
    4px 4px 6px 0 rgba(0, 0, 0, 0.2),
    -4px -4px 6px 0 rgba(255, 255, 255, 0.8);
}

td:active
{
    background-color: #edeff2;
    border-radius: 25px;
    width: 80px;
    text-align: center;
    color: #797d7a;
    font-size: 22pt;
    font-family: tahoma;
    box-shadow:
    4px 4px 6px 0 rgba(0, 0, 0, 0.2) inset,
    -4px -4px 6px 0 rgba(255, 255, 255, 0.8) inset;
}

#call
{
    border-spacing: 10px 10px;
    border-radius: 25px;
    width: 80px;
    height: 50px;
    text-align: center;
    box-shadow:
    4px 4px 6px 0 rgba(0, 0, 0, 0.2),
    -4px -4px 6px 0 rgba(255, 255, 255, 0.8);
    background: #cffada linear-gradient(-45deg,
    rgba(0,0,0,0.22),
    rgba(255,255,255,0.25))
}

#call:active
{
    text-align: center;
    box-shadow:
    4px 4px 6px 0 rgba(0, 0, 0, 0.2) inset,
    -4px -4px 6px 0 rgba(255, 255, 255, 0.8) inset;
    background: #cffada linear-gradient(135deg,
    rgba(0,0,0,0.22),
    rgba(255,255,255,0.25));
}

#img
{
    max-width: 27%;
    height: auto;
}

#img1
{
    max-width: 30%;
    height: auto;
}

#back
{
    box-shadow: none;
}